@import '../../../scss/sass.scss';

.footer-component {
  height: auto;
  padding: 20px;
  background-color: rgb(38, 50, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  p {
    font-size: 14px;
    color: white;
    margin: 0;
  }
}

@media (min-width: $tablet) {
  .footer-component {
    p {
      width: 100%;
      text-align: center;
      font-size: 18px;
    }
  }
}

@media (min-width: $desktop) {

}
