@import './sass.scss';

.hidden {
  display: none !important;
}

.nav-link {
  @include rem(font-size, 24px);
  text-decoration: none;
  color: $dark-grey;

  div {
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
    }
  }
}

@media (min-width: $tablet) {

}

@media (min-width: $desktop) {

}