@import '../sass.scss';

.color-light-grey {
  color: $light-grey;
}

.color-dark-grey {
  color: $dark-grey;
}

.color-grey-blue {
  color: $grey-blue;
}

.color-purple {
  color: $purple;
}

.background-color-light-grey {
  background-color: $light-grey;
}

.background-color-dark-grey {
  background-color: $dark-grey;
}

.background-color-grey-blue {
  background-color: $grey-blue;
}

.background-color-purple {
  background-color: $purple;
}
