@import '../sass.scss';

header,
main,
footer {
  outline: none;
}

body {
  background-color: rgb(242, 242, 242);
  overflow-x: hidden;
}

footer {
  background-color: rgb(38, 50, 56);
}

header {
  background-color: #512bd4;
  color: white;
  font-weight: bold;
  padding-top: 40px;
  height: 60px;
}

section {
  margin-top: 50px;
}

main,
footer {
  margin-top: 20px;
}

main {
  min-height: calc(100vh - 200px);
}

@media (min-width: $tablet) {
  header {
    padding-top: 40px;
  }

  header {
    height: 80px;
  }

  main,
  footer {
    margin-top: 40px;
  }

  main {
    min-height: calc(100vh - 269px);
  }
}