@import '../../../scss/sass.scss';

.header-component {
  ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    li {
      p {
        margin: 0;
      }
    }
  }

}

.nav-link {
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: white;
}